@import "../../../assets/styles/common-styles.less";

.banner-area {
	padding: 400px 0 350px;
  background-image: url('../../../assets/images/banner-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.features-area {
  margin-top: 120px;
}