<div class="home-container">
	<app-nav></app-nav>
	<section class="banner-area container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<h1>Brain Boost</h1>
					<p>Aplicacion innovadora para el seguimiento de personas con sindromes demenciales</p>
				</div>
			</div>
		</div>
	</section>
	<section class="features-area">
		<div class="container">
			<div class="card-deck">
				<div class="card shadow" style="width: 18rem;">
					<fa-icon [icon]="['fas', 'map-marker-alt']" class="feature-icon" size="10x" [styles]="{'color': 'Dodgerblue'}"></fa-icon>
					<div class="card-body">
						<h5 class="card-title">Localizar</h5>
						<p class="card-text">Nuestra aplicación cuenta con un avanzado sistema de localización.</p>
					</div>
				</div>
				<div class="card shadow" style="width: 18rem;">
					<fa-icon [icon]="['fas', 'chart-line']" class="feature-icon" size="10x" [styles]="{'color': 'Dodgerblue'}"></fa-icon>
					<div class="card-body">
						<h5 class="card-title">Mejorar</h5>
						<p class="card-text">Nuestros expertos recomendarán actividades para desarrollar las habilidades cognitivas.</p>
					</div>
				</div>
				<div class="card shadow" style="width: 18rem;">
					<fa-icon [icon]="['fas', 'tasks']" class="feature-icon" size="10x" [styles]="{'color': 'Dodgerblue'}"></fa-icon>
					<div class="card-body">
						<h5 class="card-title">Controlar</h5>
						<p class="card-text">Lleve un control preciso de cada sesión de terapia.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>